{% extends "network/layout.html" %}

{% block body %}
<!-- Posts Section -->
<div id="all_posts">
    <!-- Add New Post Form -->
    <div class="compose_view">
        {% if user.is_authenticated %}
        <form id="post-form" action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" class="form-control mt-4 mb-2 border-0" id="post_content" rows="3" maxlength="250" placeholder="What's Happening?" required autofocus></textarea>
                <div class="d-flex justify-content-between">
                    <small id="counter" class="form-text text-muted"></small>
                    <button type="submit" class="submit-btn btn btn-primary rounded-pill" disabled><strong>New Post</strong></button>
                </div>
                <hr>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center">
        <h4 class="font-weight-bold text-muted">All posts :</h4>
    </div>
</div>

<div id="posts">
    {% include "network/posts.html" %}
</div>

{% endblock %}
